@font-face {
  font-family: 'demo';
  src: url(./../../fonts/demo.ttf);
}

.a {
  font-family: demo;
  width: 100px;
  height: 100px;
  background-image: url(./../../images/pic1.png);
  background-size: 100% 100%;
}
