@font-face {
  font-family: 'Enoksen';
  src: url(./../../fonts/Enoksen.ttf);
}

.a {
  font-family: Enoksen;
  width: 100px;
  height: 100px;
  background-image: url(./../../images/pic1.png);
  background-size: 100% 100%;
}
